<section id="subs" class="pt-5 pb-5 bg_red">
    <div class="container-xl">
      <div class="row subs_1">
       <div class="col-md-4">
        <div class="subs_1l">
         <h4 class="text-white mb-0 mt-2">GET UPDATE SIGN UP NOW !</h4>
        </div>
       </div>
       <div class="col-md-8">
        <div class="subs_1r">
          <div class="input-group">
                   <input type="text" class="form-control bg-transparent" placeholder="Enter Your Email">
                   <span class="input-group-btn">
                       <button class="btn btn-primary bg-white col_red" type="button">
                           Submit </button>
                   </span>
           </div>
        </div>
       </div>
      </div>
    </div>
   </section>