<nav class="navbar navbar-expand-lg navbar-light text-white ">
    <div class="container py-2">
      <a class="navbar-brand text-white">
        <i class="fa-solid fa-video"></i>
      TRACKMOVIES
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="trending" routerLinkActive="btn btn-dark"    >Trendig</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" routerLink="toprated" routerLinkActive="btn btn-dark" >Top Rated</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" routerLink="upcoming"  routerLinkActive="btn btn-dark">UpComing</a>
          </li>
         
        </ul>
      </div>
      <div class="d-flex  justify-content-center gap-3">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-snapchat"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
    </div>
  </nav>